.cf:before,
.button_set:before,
.cf:after, .button_set:after {
  content: "";
  display: table; }

.cf:after, .button_set:after {
  clear: both; }

.cf, .button_set {
  zoom: 1; }

/* Colors */
/* font */
@font-face {
  font-family: 'Capture';
  src: url("../fonts/capsmall/capsmall-webfont.eot");
  src: url("../fonts/capsmall/capsmall-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/capsmall/capsmall-webfont.woff2") format("woff2"), url("../fonts/capsmall/capsmall-webfont.woff") format("woff"), url("../fonts/capsmall/capsmall-webfont.ttf") format("truetype"), url("../fonts/capsmall/capsmall-webfont.svg#capture_smallzregular") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Mixins */
/* Media Queries */
/*****************************
* Reset App styles
*****************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: 100% inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: ''; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

footer {
  position: fixed;
  bottom: 10px;
  right: 10px; }

footer a {
  color: #000;
  text-decoration: none; }

/*****************************
***** App static styles ******
*****************************/
html,
body {
  display: inline-block;
  width: 100%;
  height: 100%;
  font-family: 'Capture', sans-serif; }

body {
  background: #3f4519;
  position: relative; }

h1 {
  text-align: center;
  text-transform: uppercase;
  font: 72px 'Capture';
  color: #9AA269;
  padding: 40px 0 25px; }

.btn {
  display: block;
  background: #3E1725;
  cursor: pointer;
  border: 1px solid #280713;
  border-radius: 5px;
  font-size: 25px;
  text-transform: uppercase;
  padding: 20px 35px;
  color: #9AA269;
  text-shadow: 2px 2px 3px #000;
  transition: .3s;
  text-align: center;
  margin: 0 auto;
  max-width: 45%;
  box-shadow: 0px 0px 10px #9AA269; }
  .btn:hover {
    background: #2F1820;
    text-shadow: -2px -2px 3px #000;
    color: #858D5D; }

.new_game {
  float: left; }

.view_results {
  float: right; }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

.overlay.active {
  display: block;
  background: rgba(70, 7, 19, 0.7);
  opacity: .7;
  visibility: visible;
  z-index: 998; }

.button_set {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 90%;
  max-width: 830px;
  z-index: 9;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.game-wrap {
  width: 100%;
  margin: 0 auto; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

#game {
  opacity: 0;
  width: 830px;
  max-width: 90%;
  margin: 0 auto;
  animation: fadeIn 1s alternate;
  animation-fill-mode: forwards; }
  #game li {
    width: 31.3%;
    margin: 0 1%;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    position: relative;
    left: 0;
    opacity: 1;
    overflow: hidden;
    z-index: 2;
    border-radius: 5px;
    transition: .3s; }
    #game li:hover {
      box-shadow: 0 0 5px #cae230; }
  #game img {
    width: 100%; }
  #game .user > span {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    height: 100%;
    width: 100%;
    opacity: 0;
    font-size: 0;
    letter-spacing: 0;
    text-transform: uppercase;
    color: #9AA269;
    background: rgba(70, 7, 19, 0.7);
    -webkit-transition: 0.3s ease-in;
    -moz-transition: 0.3s ease-in;
    -ms-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.3s ease-in; }
  #game .user:hover span {
    opacity: 1; }
  #game .user > span:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 100%; }
  #game .cpu {
    width: 37%;
    margin: 0 1% 0 20%; }

.description {
  padding: 20px;
  max-width: 100%;
  font-size: 50px;
  display: inline-block;
  vertical-align: middle;
  text-shadow: 2px 2px 3px #000; }
  @media only screen and (max-width: 970px) {
    .description {
      font-size: 35px; } }
  @media only screen and (max-width: 700px) {
    .description {
      font-size: 25px; } }

.character_list {
  display: inline-block;
  vertical-align: middle;
  width: 100%; }

.selected {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important; }
  .selected span {
    display: none; }

/*****************************
******* App Start Game *******
*****************************/
/* zooming selected character */
@keyframes zoomingSelectedCharacter {
  0% {
    width: 33.3%; }
  100% {
    width: 36%; } }

#game.game-start .selected {
  animation: zoomingSelectedCharacter 0.5s alternate;
  animation-fill-mode: forwards; }

/* zooming selected character */
/* show VS title */
@keyframes showVsTitle {
  0% {
    zoom: 15; }
  100% {
    zoom: 0; } }

#game .vs {
  zoom: 15;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #FF0000;
  z-index: 2;
  text-transform: uppercase;
  font-size: 36px;
  transition: 1s; }
  #game .vs:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 100%; }

/* Show Game Result  */
.compare-result-wrap {
  position: absolute;
  background: rgba(70, 7, 19, 0.5);
  transition: .5s;
  top: 0;
  left: 0;
  z-index: 8;
  width: 100%;
  height: 100%;
  font-size: 0;
  text-align: center; }
  .compare-result-wrap:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 100%; }
  .compare-result-wrap .compare-result-inner {
    display: inline-block;
    vertical-align: middle; }
  .compare-result-wrap .result {
    display: inline-block;
    vertical-align: middle;
    color: #9AA269;
    font: 110px 'Capture';
    margin: 0 0 75px;
    text-transform: uppercase; }
    .compare-result-wrap .result.win {
      color: #A6F222; }
    .compare-result-wrap .result.lose {
      color: #FF0000; }
  .compare-result-wrap .button_set {
    position: static;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); }

.results_wrap {
  padding: 5% 0 0;
  text-align: center;
  font-size: 50px;
  text-transform: uppercase;
  margin: 0 auto; }
  .results_wrap .result_item {
    color: #9AA269;
    text-align: left;
    display: block;
    border-bottom: 2px solid #280713;
    margin: 0 0 15px;
    padding: 0 15px 15px;
    text-shadow: 2px 2px 3px #3E1725; }
  .results_wrap .count {
    float: right;
    width: 100px;
    text-align: right;
    display: inline-block;
    vertical-align: middle; }
  .results_wrap .total {
    border: none; }
  .results_wrap .new_game {
    float: none;
    margin: 0;
    display: inline-block;
    max-width: 225px; }
